@import '_setting';
@import '_header';
@import '_footer';

.page_topic{
    padding: 120px 0;
    background: url(../img/news_topicbg.jpg) center top no-repeat;
    background-size: cover;
    text-align: center;
}
.page_news{
    padding-top: 80px;
    .filter{
        width: 336px;
        margin: 0 auto;
        overflow: hidden;
        li{
            float: left;
            font-size: 16px;
            font-family: $_font1;
            line-height: 4;
            letter-spacing: 2px;
            font-weight: 600;
            margin: 0 20px;
            &.active{
                color: #8C6B36;
                border-bottom: 2px solid #8C6B36;
            }
        }
    }
    .news_content{
        padding: 0 0 120px;
        overflow: hidden;

        #pagingBox{
            overflow: hidden;
            li{
                width: calc((100% - 40px) / 3);
                margin: 60px 20px 0 0;
                float: left;
                @media (max-width:1080px){
                    width: calc((100% - 20px) / 2);
                }
                @media (max-width:800px){
                    width: 100%;
                }

                &:nth-child(3n){
                    margin-right: 0;
                    @media (max-width:1080px){
                        margin-right: 20px;
                    }
                }
                &:nth-child(2n){
                    @media (max-width:1080px){
                        margin-right: 0;
                    }
                }
            }
        }
        .item{
            .info{
                overflow: hidden;
                margin-top: 40px;
                .date{
                    width: 120px;
                    float: left;
                    font-family: $_font1;
                    font-size: 16px;
                    font-weight: 600;
                }
                .category{
                    width: calc(100% - 120px);
                    float: right;
                    text-align: right;
                    font-family: $_font1;
                    font-size: 16px;
                    font-weight: 600;
                }
                h6{
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    box-sizing:border-box;
                    letter-spacing: 2px;
                    line-height: 1.4;
                    margin: 32px 0;
                }

            }
        }
    }

}

.page_newspage{
    padding-bottom: 80px;
    .newspage_content{
        padding-bottom: 80px;
        .info{
            overflow: hidden;
            margin-top: 80px;
            .date{
                width: 100px;
                float: left;
                font-family: $_font1;
                font-size: 16px;
                font-weight: 600;
                border: 1px solid $_color1;
                text-align: center;
            }
            .category{
                width: calc(100% - 120px);
                float: right;
                text-align: right;
                font-family: $_font1;
                font-size: 16px;
                font-weight: 600;
            }
        }
        h5{
            margin: 40px 0 24px;
        }
        h1, h2, h3, h4, h5, h6{
            margin-top: 40px;
        }
        .photo, p{
            margin-top: 24px;
        }
    }
    .link_small{
        width: 200px;
        height: 48px;
        background: transparent;
        border: 1px solid $_color1;
        margin: 0 auto;
        transition: all .3s;
        a{
            color: $_color1;
            transition: all .3s;
            line-height: 48px;
        }
        &:hover{
            background: $_color1;
            a{
                color: #fff;
            }
        }
    }
}

#page_navigation{
    text-align: center;
    margin: 80px 0 0;
    >div{
        height: 36px;
        line-height: 36px;
        display: inline-block;
        margin: 0 10px;
        transition: all .3s;
        // outline: 1px solid red;
        a{
            // font-family: $_font2;
            font-size: 20px;
            transition: all .3s;

            span{
                vertical-align: middle;
            }
        }
    }
    .page_link{
        width: 36px;
        border-radius: 36px;
        margin: 0 6px;
        &.active_page, &:hover{
            background: #DBC095;
            a{
                color: #fff;
            }
        }
    }
}